<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper" id="dashboard">
        <div class="header">
            <div>
                <h2>Welcome, {{user.name}}
                </h2>
                <a href="/myaccount/{{user.id}}">(edit your account)</a>
            </div>
            
            <a href="/log_off">
                <button>Log Off</button>
            </a>
        </div>
        <div class="row">
            <div class="quotes">
                {% for quote in quotes %}
                    <div class="a_quote">
                    <h4>{{quote.author}}:</h4>
                    <p>{{quote.quote}}</p>
                    <p class="sign">Posted by 
                        <a href="/user/{{quote.user_id}}">
                            {{quote.creator}}
                        </a>
                    </p>
                    <p>{{quote.like_count}} people like this</p>

                    <a href="/like/{{quote.id}}">
                        {% if quote.liked_by_this %}
                        <button class="like-btn" style="background-color: green">Liked!</button>
                        {% else %}
                        <button class="like-btn">Like</button>
                        {% endif %}
                    </a>

                    {% if user.id == quote.user_id %}
                        <a href="/quote_delete/{{quote.id}}"><button class="delete-btn">Delete</button></a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="makequote">
                <form action="/quote_submit" method="POST">
                {% csrf_token %}
                <h3>Post a quote</h3>
                <input type="text" name="author" placeholder="Author of the quote" required>
                {% if 'author' in request.session.errors %}
                    <h5>{{request.session.errors.author}}</h5>
                {% endif%}
                <textarea rows="5" name="quote" placeholder="The quote"></textarea>
                {% if 'quote' in request.session.errors %}
                <h5>{{request.session.errors.quote}}</h5>
                {% endif%}
                <button type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>